* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #004980;
}

.game {
    display: flex;
    justify-content: space-between;
}

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
}

.time__screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    &_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;


        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #FFFFFF;
    }

    &_number {
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        color: #FFFFFF;
    }

    &_button {
        width: 246px;
        height: 50px;

        background: #7ac100;
        border-radius: 12px;
        border: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #ffffff;
        cursor: pointer;
        margin-top: 30px;
        margin-right: 50px;
    }

    &_button:hover {
        border: 3px solid #02922d;
    }
}